<script  type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "Organization",
    "name": "{{ site.Params.name }}",
    "description": {{ .p_decsr }},
    "url": "{{ site.BaseURL }}",
    "logo": "{{ "apple-touch-icon.png" | absURL }}",
    "foundingDate": "{{ site.Params.foundingDate }}",
    "sameAs": [
    ],
    "address": {
        "@type":"PostalAddress",
        "streetAddress":"{{ index site.Params.address 1 }}",
        "addressRegion":"{{ index site.Params.address 3 }}",
        "addressLocality":"{{ index site.Params.address 3 }}",
        "postalCode":"{{ index site.Params.address 2 }}",
        "addressCountry":"{{ index site.Params.address 4 }}"
        },
    "contactPoint":{
        "@type":"ContactPoint",
        "contactType":"customer service",
        "telephone":"{{ index site.Params.phones 0 }}",
        "email":"{{ site.Params.email }}"
    }
}
</script>
