.home-content {
    background-color: var(--dark-bg-color);
    color: var(--light-bg-color);
    padding-block: var(--block-gap);
    
    h2 {
        font-family: var(--ff-main);
        color: var(--light-bg-color);
    }

    & > * + * {
        margin-top: var(--main-gap, 1em);
    }
}