<div class="footer__bottom full-width">
    <div class="footer__bottom-inner breakout">
    <div class="footer__copyright">
        Copyright © {{ now.Year }} — plus360
    </div>
    <div class="footer__buttom-menu">
        {{- with site.Menus.legal}}
        <ul class="legal-nav">
            {{- range . }}
            {{- $active := page.IsMenuCurrent "legal" . }}
            <li class="legal-nav__item">
                <a  class="legal-nav__link
                {{- if $active }} legal-nav__link--active{{ end }}"
                href="{{ .URL }}">
                {{- .Name -}}
                </a>
            </li>
            {{- end }}
        </ul>
        {{- end }}
    </div>
</div>
</div>