:root, ::backdrop {
    /* Colors */
    
    --warning-color: hsl(331, 45%, 43%);

    --link-color-dark: hsl(240, 33%, 50%);
    --link-color: hsl(240, 33%, 70%);
    
    --dark-bg-color-dark: hsl(200, 100%, 18%);
    --dark-bg-color: hsl(200, 100%, 30%);
    --dark-bg-color-light: hsl(200, 90%, 46%);
    
    --light-bg-color-dark: hsl(94, 73%, 78%);
    --light-bg-color: hsl(94, 73%, 98%);
    --light-bg-color-light: hsl(94, 73%, 100%);

    --light-text-color: hsl(0, 0%, 98%);
    --dark-text-color: hsl(0, 0%, 20%);

    --dark-bg-gradient: radial-gradient(
        farthest-corner circle at 9% 73%, #414a3b 5% 5%, 89%, #748268 100%
    );
    
    --box-shadow:
        0 1px 2px hsla(94, 11%, 25%, 0.3),
        0 1px 3px hsla(94, 11%, 25%, 0.15);
  
        --box-shadow:
        0 1px 6px hsla(94, 11%, 25%, 0.3),
        0 1px 8px hsla(94, 11%, 25%, 0.15);
    
    --border-radius: 0.2rem;

    --ff-main: system-ui, sans-serif;
    --ff-accent: 'Rubik Moonrocks', sans-serif;
    --ff-mono: 'Nimbus Mono PS', 'Courier New', monospace;
    
    /* font-sizes */   
  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

    /* paddings, margins, gaps */
    --main-gap: clamp(.7rem, calc(.5rem + 1vw), 1rem);
    --block-gap: calc(var(--main-gap) * 2);

    --scroll-behavior: smooth;

    @media (prefers-reduced-motion) {
        --scroll-behavior: auto;
    }
}
